<section class="flex items-center justify-center w-full h-screen">
  <div class="relative flex items-center justify-center bg-white rounded-lg shadow-lg form-box w-400 h-450 shadow-gary-500/50">
    <%= link_to  root_path do %>
      <span class="absolute right-3 top-3"><i class="fa-solid fa-xmark fa-2xl" style="color: #d14d72;"></i></span>  
    <% end %>
    <div class="form-value">
        <div class="m-8 field ">
          <span class="my-8 text-xl font-bold text-center">
             忘記密碼嗎？
          </span>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="relative m-2 field">
            <span class="absolute top-2 right-2">
              <i class=" fa-xl fa-regular fa-envelope" style="color: #d14d72;"></i>
            </span> 
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請輸入信箱帳號...", class: "rounded-lg w-full inline-block"%>
          </div>
          <div class="m-2 field">
            <%= f.submit "向我發送重置密碼的指示", class: "btn-square btn-pink" %>
          </div>
        <% end %>
    </div>
  </div>
</section>
