<header class="flex justify-center bg-[#fcc8d1] p-2 text-[#d14d72] text-2xl font-bold">
    <h1 id="logo">
        <%= link_to root_path do %>
            <%= image_tag('mochi.png', size: '45x45', class: 'inline-block pr-2') %>
            黃金萬兩｜草莓大福
        <% end %>
    </h1>
</header>