<input type="checkbox" name="" id="nav_switch">
<header class="main-header">
    <h1 class="logo">
        <a href="#">
            <%= image_tag 'mochi.png',size: '35x35', class: 'inline-block' %>
        </a>
    </h1>
    <label for="nav_switch" class="hb">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav class="main-nav ">
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
    </nav>
</header>